In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="zhihui328",
  database="my_database"
)

cursor = mydb.cursor()

stm="Select * from table1"
cursor.execute(stm)
opt = cursor.fetchall()
for x in opt:
  print(x)

(14032, 'Jinxiu Liu', Decimal('171.00'), datetime.date(1968, 7, 13))
(14035, 'Yinxia Liu', Decimal('167.00'), datetime.date(1969, 4, 21))
(14164, 'Zhihui Gao', Decimal('170.00'), datetime.date(1992, 2, 28))
(14726, 'Peng Liu', Decimal('175.00'), datetime.date(1992, 2, 23))